{% extends "base2.html" %}

{% block contenido %} 

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Singup</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="usurname">Usurario</label>
                    <input type="text" name="username" id="usurname" class="form-control" placeholder="escribe tu usuario">
                </div>

                <div class="mb-3">
                    <label for="password1">Contraseña</label>
                    <input type="password" name="password1" id="password1" class="form-control" placeholder="escribe tu contraseña">
                </div>

                <div class="mb-3">
                    <label for="password2">Confirmar</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Confimar tu contraseña">
                </div>

                <button class="btn btn-primary">
                    Singup  
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %} 